[profile.default]
src = "src"
out = "out"
libs = ["lib", "node_modules"]
ffi = true
fs_permissions = [{ access = "read-write", path = "./"}]
solc_version = "0.8.28"
evm_version = "cancun"
# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
# memory_limit = 335544320


# Install dependencies:
# forge install https://github.com/smartcontractkit/ccip@v2.17.0-ccip1.5.16
# forge install git@github.com/Layr-Labs/eigenlayer-contracts@v1.3.0

remappings = [
  "@chainlink/ccip/=lib/ccip/contracts/src/v0.8/ccip/",
  "@chainlink/ccip-vendor/=lib/ccip/contracts/src/v0.8/vendor/",
  "@chainlink/shared/=lib/ccip/contracts/src/v0.8/shared/",
  "forge-std/=lib/forge-std/src/",

  "@openzeppelin-v5-contracts/=lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts",
  "@openzeppelin-v5-contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts",
  "@eigenlayer-contracts=lib/eigenlayer-contracts/src/contracts",
  # Note: We use OpenZeppelin v4.9 to deploy EigenLayer contracts (as EigenLayer does)
  "@openzeppelin-v4-contracts/=lib/eigenlayer-contracts/lib/openzeppelin-contracts-v4.9.0/contracts/",
  # Context dependent remappings to avoid conflicts
  # enable for foundry deployment, disable for hardhat deployment (doesn't work with hardhat)
  "lib/openzeppelin-contracts-upgradeable:@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts",
  "lib/openzeppelin-contracts-upgradeable:@openzeppelin/contracts/=lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts",
  "lib/eigenlayer-contracts:@openzeppelin/contracts-upgradeable/=lib/eigenlayer-contracts/lib/openzeppelin-contracts-upgradeable-v4.9.0",
  "lib/eigenlayer-contracts:@openzeppelin/contracts/=lib/eigenlayer-contracts/lib/openzeppelin-contracts-v4.9.0/contracts",
]

[rpc_endpoints]
treasureTopaz = "https://rpc.topaz.treasure.lol"
treasureMainnet = "https://rpc.treasure.lol"
